#jumbotron {
  background-color: lightgreen;
}

#portfolio {
  text-align: center;
  height: 500px;
  background-color: yellow;
}

.bg-lgrey {
  background-color: lightgrey;
}

.bg-grey {
  background-color: grey;
}

.bg-green {
  background-color: green;
}

.banner-jambo {
  width: 600px;
  height: 400px;
  margin: 50px auto;

}
